@{
    ViewData["Title"] = "Change Password";
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recover Password - srtdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="~/images/icon/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/metisMenu.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="~/css/typography.css">
    <link rel="stylesheet" href="~/css/default-css.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr css -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<section>
    <body>
        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <!-- preloader area start -->
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- preloader area end -->
        <!-- login area start -->
        <div class="login-area">
            <div class="container">
                <div class="login-box ptb--100">
                    <form asp-controller="Home" asp-action="ChangePassword" method="post">
                        <div class="login-form-head">
                            <h4>Change Password</h4>
                            <p>Hey! Change Your Password and comeback again</p>
                        </div>
                        <div class="login-form-body">
                            <div class="form-gp">
                                <label for="OldPassword">Old Password</label>
                                <input type="password" id="OldPassword" name="OldPassword">
                            </div>
                            <div class="form-gp">
                                <label for="NewPassword">New Password</label>
                                <input type="password" id="NewPassword" name="NewPassword">
                            </div>
                            <div class="form-gp">
                                <label for="ConfirmPassword">Confirm Password</label>
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword">
                            </div>
                            <div class="submit-btn-area mt-5">
                                <button id="form_submit" type="submit">Reset <i class="ti-arrow-right"></i></button>
                            </div>
                            <div class="form-footer text-center mt-3">
                                <a href="javascript:history.back()" class="btn btn-link">Go Back</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- login area end -->
        <!-- jquery latest version -->
        <script src="~/js/vendor/jquery-2.2.4.min.js"></script>
        <!-- bootstrap 4 js -->
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/metisMenu.min.js"></script>
        <script src="~/js/jquery.slimscroll.min.js"></script>
        <script src="~/js/jquery.slicknav.min.js"></script>

        <!-- others plugins -->
        <script src="~/js/plugins.js"></script>
        <script src="~/js/scripts.js"></script>

        <script>
            $(document).ready(function () {
                $('#form_submit').click(function (event) {
                    var oldpassword = $('#OldPassword').val();
                    var newpassword = $('#NewPassword').val();
                    var confirmPassword = $('#ConfirmPassword').val();

                    if (oldpassword === newpassword) {
                        alert('New password must different from Old Password.');
                        event.preventDefault(); // Ngăn chặn sự kiện mặc định của nút "Submit"
                        return false; // Ngăn form submit nếu mật khẩu không khớp
                    }
                    // Kiểm tra mật khẩu và mật khẩu xác nhận
                    if (newpassword !== confirmPassword) {
                        alert('New password and Confirm Password do not match.');
                        event.preventDefault(); // Ngăn chặn sự kiện mặc định của nút "Submit"
                        return false; // Ngăn form submit nếu mật khẩu không khớp
                    }

                    // Kiểm tra mật khẩu theo các tiêu chí
                    var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
                    if (!regex.test(newpassword)) {
                        alert('New password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, and one number.');
                        event.preventDefault(); // Ngăn chặn sự kiện mặc định của nút "Submit"
                        return false; // Ngăn form submit nếu mật khẩu không đáp ứng các tiêu chí
                    }

                    // Nếu mọi thứ đều hợp lệ, cho phép form submit
                    return true;
                });
            });
        </script>
    </body>
</section>
